* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropdown-toggle::after {
  content: none;
}

body {
  padding-bottom: 200px;
}

.wrapper {
  display: flex;
  height: 200px;
  width: 100%;
  background-image: url("./images/planner-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 220px;
    background-color: rgba(49, 47, 47, 0.5);
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    border-radius: 3px;
  }
}

.container1 {
  font-size: 20px;
  font-weight: 600;
}
